<div class="w3-row-padding" id="view_blog" xmlns="http://www.w3.org/1999/html">
    <div class="w3-third w3-container w3-margin-bottom" th:each="p : ${postList}" >
        <img src="/access/www.w3schools.com/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
            <p><b th:text="${p.title}"></b><i class="w3-right" th:text="${#dates.format(p.createdDate, 'dd/MM/yyyy')}"></i></p>
            <hr>
            <p th:utext="${p.content}"></p>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><a th:href="@{/post/detail/{id}(id = ${p.id})}"><i class="fa fa-list-alt"></i>  Detail</a></button>
            <button type="button" class="w3-button w3-theme-d3 w3-margin-bottom"><a th:href="@{/post/update/{id}/{user_id}(id = ${p.id},user_id = ${user.id})}"><i  class="fa fa-wrench"></i>  Modify</a></button>
        </div>
    </div>
</div>