<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learning Code Everyday</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" th:href="@{/access/Desing-1-32.png}">
    <link rel="stylesheet" href="/access/www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/access/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/access/home.css">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav th:replace="~{/fragments/nav_user ::nav}"></nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
    <div class="navbar">
        <a th:href="@{/home}" class="actived">Home</a>
        <a href="#news">News</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">Options
                <i class="fa fa-caret-down"></i>
            </button>
            <p>Login : <u>Username</u></p>
            <div class="dropdown-content" id="myDropdown">
                <a href="#"><i class="fa fa-user fa-fw w3-margin-right"></i>Profile</a>
                <a th:href="@{/templates/main/profile/history}"><i class="fa fa-history w3-margin-right"></i>View
                    History</a>
                <a href="#"><i class="fa fa-sign-out w3-margin-right"></i>Logout</a>
            </div>
        </div>

    </div>
    <!--    Notice-->
    <span th:replace="~{/fragments/notice :: span}"></span>
    <!-- Header -->
    <header id="portfolio">
        <a href="#"><img src="/access/www.w3schools.com/w3images/avatar_g2.jpg" style="width:65px;"
                         class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
        <div class="w3-container w3-padding-48">
            <div class="w3-row">
                <div class="w3-left">
                    <h1 style="font-size: 60px"><b>Ready</b></h1>
                </div>
            </div>
        </div>
    </header>

    <!-- First Photo Grid-->
    <div class="w3-padding">
        <div class="w3-container w3-margin-bottom">
            <div th:name="${test.text}" th:duration="${test.duration}" th:totalScore="${test.question.size()}"
                 class="w3-container w3-white " id="test-info">
                <div>
                    <p class="w3-show-inline-block"><b th:text="${test.text}"></b></p>
                    <p class="w3-right" id="difficult">Difficult :
                        <span th:class="'make-cool-rainbow w3-padding-small difficult-'+${test.level}"
                              th:text="${test.level}"></span>
                    </p>
                </div>
                <div>
                    <p>Total question : <span th:text="${test.question.size()}"></span></p>
                    <p>Time limit : <span th:text="${test.duration}"></span> minute</p>
                </div>
                <hr>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-green" id="start-test">
                    <i class="fa fa-play" aria-hidden="true"></i>
                    Start
                </button>
            </div>
            <div class="w3-container w3-white d-none" id="test-form">
                <input type="hidden" id="testId" th:value="${test.id}"/>
                <div id="counter" class="w3-green w3-center">
                    <div id="cute-clock" class="w3-text-green">
                        <i class="fa fa-clock-o cur-pointer" aria-hidden="true"></i>
                    </div>
                    <div id="time-detail">
                        <h1>Time remain :</h1>
                        <span id="hour"><i></i> Hours</span> :
                        <span id="minute"><i></i> Minutes</span> :
                        <span id="second"><i></i> Seconds</span>
                    </div>
                </div>
                <div class="w3-margin-bottom">
                    <div th:each="question , questionLoopStt : ${test.question}"
                         class="question-block w3-margin-bottom w3-border-bottom w3-padding">
                        <div class="question-title"><b>Question <span th:text="${questionLoopStt.index+1}"></span>: </b>
                            <span th:text="${question.text}"></span></div>
                        <div class="answer w3-row w3-margin-bottom">
                            <div th:each="answer : ${question.answerList}" class="w3-col m6">
                                <input class="answer-input w3-radio" th:name="'question-'+${question.id}" type="radio"
                                       th:value="${answer.id}">
                                <span></span>
                                <span th:text="${answer.text}"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="w3-button w3-green" type="button" id="submit-answer">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span th:replace="~{/fragments/footer_user :: span}"></span>
</div>

<div id="alert-block">
    <div class="alert-content w3-green">
        <div class="alert-header"><h3>Submit answer success</h3></div>
        <div class="alert-context">
            <p class="alert-info">Do you wish to delete this question</p>
            <div class="alert-detail w3-section"></div>
        </div>
        <div class="alert-decision">
            <button class="w3-button w3-white" id="alert-btn-confirm">Confirm</button>
        </div>
    </div>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

</script>
<script src="/access/home.js"></script>
<script th:src="@{/js/everything.js}"></script>
<script th:replace="~{/fragments/js_index :: script}"></script>
<!-- Mirrored from www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_portfolio&stacked=h by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Jun 2022 03:41:24 GMT -->
</html>
