.prefix_img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.prefix_img img {
    height: 100% !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cur-pointer {
    cursor: pointer;
}

.a-hov-0:hover {
    color: inherit;
}

.a-no-style {
    color: inherit;
    text-decoration: inherit;
}

.hov-darken:hover {
    background: rgb(226, 226, 226);
}

.transition-normal {
    transition: 0.2s;
}

.transition-0 {
    transition: unset;
}

.outline-0 {
    outline: unset !important;
}

.text-bold {
    font-weight: bold;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

#alert-block {
    position: fixed;
    background: rgba(0, 0, 0, 0.36);
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
}

#alert-block .alert-content {
    padding: 30px;
    text-align: center;
    background: #e2e2e2;
}

.difficult-EPIC {
    font-weight: bold;
    color: whitesmoke;
    background: red;
    animation-name: hueRainbowRotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes hueRainbowRotate {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);

    }
}

.difficult-HARD {
    background: #e23630;
    color: whitesmoke;
}

.difficult-MEDIUM {
    background: #e2bc00;
    color: whitesmoke;
}

.difficult-EASY {
    background: #00e21e;
    color: whitesmoke;
}

#counter {
    position: relative;
    z-index: 20;
    transition: 0.2s;
    border-radius: 20px 0 0 20px;
    position: fixed;
    top: 100px;
    right: -320px;
    width: 270px;
    height: 120px;
    padding: 12px;
}

#counter #cute-clock {
    position: absolute;
    top: 0px;
    left: 0;
    height: 120px;
    line-height: 120px;
    font-size: 50px;
    transform: translate(-100%, 0);
}

#counter #time-detail {
    text-transform: uppercase;
}

.margin-auto {
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-x {
    flex-direction: row;
}

.flex-y {
    flex-direction: column;
}

.align-x-center {
    justify-content: center;
}

.align-y-center {
    align-content: center;
}

.min-h-50vh {
    min-height: 50vh;
}

.margin-0 {
    margin: 0;
}

.w3-btn-spacing {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
