<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Title</title>

</head>
<body>

<div class="w3-container" style="margin-top: 150px;">
    <div id="id01" class="">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
            <div class="w3-center"><br>
                <h2>Forgot Password</h2>
            </div>
            <div th:if="${error}">
                <p class="w3-center text-danger w3-text-red">[[${error}]]</p>
            </div>
            <div th:if="${message}">
                <p class="w3-center text-warning w3-text-green">[[${message}]]</p>
            </div>
            <form class="w3-container" th:action="@{/forgot_password}" method="post">
                <div class="w3-section">
                    <label><b>Email</b></label>
                    <input class="w3-input w3-border w3-margin-bottom form-control" type="email" name="email"
                           placeholder="Enter your e-mail" required autofocus>
                    <button class="w3-button w3-block w3-blue w3-section w3-padding" type="submit">Send</button>
                </div>
                <p>We will be sending a reset password link to your email.</p>
                <button style="float:right;"
                        class="w3-margin-bottom w3-button w3-white w3-border w3-border-red w3-round-large"><a
                        th:href="@{/login}">Cancel</a></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>