<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learning Code Everyday</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/access/Desing-1-32.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" th:href="@{/access/Desing-1-32.png}">
    <link rel="stylesheet" href="/access/www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/access/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/access/home.css">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav th:replace="~{/fragments/nav_user ::nav}"></nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
    <!--    Option -->
    <div th:replace="~{/fragments/profile_user :: div}"></div>
    <!--    Notice-->
    <span th:replace="~{/fragments/notice :: span}"></span>
    <!-- Header -->
    <header id="portfolio">
        <a href="#"><img src="/access/www.w3schools.com/w3images/avatar_g2.jpg" style="width:65px;"
                         class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
        <div class="w3-container w3-padding-48">
            <div class="w3-row">
                <div class="w3-left">
                    <h1 style="font-size: 60px"><b>My History</b></h1>
                </div>
            </div>
        </div>
    </header>

    <!-- First Photo Grid-->
    <div class="w3-row-padding">
        <div class="w3-third w3-container w3-margin-bottom " th:each="exam : ${examList}">

            <div class="w3-container w3-white w3-display-container">
                <div>
                    <p class="w3-show-inline-block"><b th:text="${exam.test.text}"></b></p>
                    <p class="w3-right" id="difficult">Difficult :
                        <span th:class="'make-cool-rainbow w3-padding-small difficult-'+${exam.test.level}"
                              th:text="${exam.test.level}"></span>
                    </p>
                </div>
                <hr>
                <p>
                    <span>Score : </span>
                    <span th:text="${exam.mark}"></span>/
                    <span th:text="${exam.test.question.size}"></span>
                </p>
                <p>Rank : <span th:text="${exam.rankk}"></span></p>
                <p>At : <span th:text="${#dates.format(exam.DateTime,'dd-MM-yyyy')}"></span></p>
                <div class="w3-display-bottomright w3-padding-large " style="font-size: 25px">
                    <a th:href="@{/me/history/delete/{id} (id=${exam.id}) }">
                        <i class="fa fa-trash w3-text-red cur-pointer" aria-hidden="true">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <span th:replace="~{/fragments/footer_user :: span}"></span>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $('.switch').on('click', function () {
        $('.form-add-post').fadeIn(400);
    });

    $('.close-switch').on('click', function () {
        $('.form-add-post').fadeOut(400, function () {
        });
    });
</script>
<script src="/access/home.js"></script>
<script th:replace="~{/fragments/js_index :: script}"></script>
<!-- Mirrored from www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_portfolio&stacked=h by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Jun 2022 03:41:24 GMT -->
</html>
